* {
  box-sizing: border-box;
}

:root {
  --bg-color: #ffcc00;
  --fg-color: #231900;
  --blood: maroon;
  --spoiled-orange: #8a7521;
  --color-syntax-constant: #005cc5;
  --color-syntax-keyword: var(--blood);
  --color-syntax-string: #032f62;
}

p {
  hyphens: auto;
  text-align: justify;
  white-space: initial;
}

span.nobr {
  white-space: nowrap;
}

@font-face {
  font-family: "DejaVu Serif";
  src: local(DejaVu Serif);
  size-adjust: 89.85%;
  ascent-override: 98%;
  descent-override: 25%;
}

@font-face {
  font-family: "Header DejaVu Serif";
  src: local(DejaVu Serif Bold);
  size-adjust: 84.2%;
  ascent-override: 88%;
  descent-override: 35%;
}

@font-face {
  font-family: 'Amstelvar Roman';
  src: url('fonts/Amstelvar-Roman-VF.woff2') format('woff2'),
  url('fonts/Amstelvar-Roman.ttf') format('truetype'),
  local("Amstelvar Roman");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.monospace {
  font-family: "DejaVu Sans Mono", "Inconsolata", monospace;
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 18px;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: var(--bg-color);
  color: var(--fg-color);
  font-family: "Amstelvar Roman", "DejaVu Serif", serif;
  font-size: 1rem;
  font-kerning: none;
  font-stretch: 92.4%;
  font-variation-settings: "opsz"8, "GRAD"-0.72, "XTRA"500, "XOPQ"176, "YOPQ"125, "YTLC"529, "YTUC"726, "YTAS"760, "YTDE"-206, "YTFI"881;
  margin: 0 auto;
  min-width: 250px;
  display: grid;
  grid-template-columns: repeat(12, minmax(10px, 1fr));
  grid-auto-rows: min-content min-content min-content;
  row-gap: min(6vw, 0.8rem);
  width: 100%;
  height: 100%;
  align-content: space-between;
}

body.index {
  row-gap: 2rem;
  row-gap: min(6vw, 2rem);
}

a, a:visited {
  color: #6a0000;
  text-decoration-style: wavy;
  text-underline-offset: 3px;
  text-decoration-color: #b67761;
}

a.decorate {
  text-decoration: dotted;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: all;
  text-underline-position: from-font;
  text-underline-offset: 5px;
}

a.decorate:before {
  content: " 🔗";
}

a.decorate:hover {
  text-decoration: none;
  text-underline-position: from-font;
}

a.decorate[href^="http://"]:hover:after,
a.decorate[href^="https://"]:hover:after {
  content: ' (' attr(href) ')';
  text-decoration-style: revert;
  text-decoration-line: underline;
  text-decoration-style: wavy !important;
  display: inline-block;
  margin-left: 1ch;
}

body>header {
  grid-row: 1 / span 1;
  grid-column: 2 / span 10;
  display: flex;
  flex-direction: column-reverse;
  place-items: center;
  position: relative;
  width: min-content;
  place-self: center;
}

body>header:before {
  position: relative;
  font-size: small;
  font-weight: bolder;
  font-style: oblique;
  font-variation-settings: "GRAD"0.5;
  color: #3a3433;
  margin-bottom: .5em;
  margin-bottom: min(.5vw, 1em);
  place-self: center;
  margin-left: 15vw;
  letter-spacing: 0.4px;
  top: -2vmin;
}

span.banner {
  --hover-delay: .15s;
  --transition-fn: cubic-bezier(.19,1,.22,1);
  --cover-width: min(323px,16vw);
  --cover-height: 209px;
  --cover-bg-size: 378px;
  --column-gap: min(1vw, 0.8rem);
  font-variation-settings: "opsz"8, "GRAD"0.55;
  /* fallback */
  font-size: 3rem;
  font-weight: bolder;
  /* scale with viewport width size */
  font-size: min(5vw, 3rem);
  font-size: clamp(5vw, 3rem, 10vw);
  font-family: "Amstelvar Roman", "Header DejaVu Serif", serif;
  /* Color fallback, otherwise use background-clip in the @supports block below */
  color: #7c1a1a;
  margin: 0;
  border-bottom: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-column-gap: var(--column-gap);
  grid-area: header-stack;
}

@supports (background-clip: text) or (-webkit-background-clip: text)  {
  span.banner {
    color: transparent;
    background: radial-gradient(var(--spoiled-orange) 12%, var(--blood) 22%);
    background-size: 3px 4px;
    /* -webkit-background-clip clips the background of the element to the text */
    -webkit-text-fill-color: transparent; /* overrides the white text color in webkit browsers */
    -webkit-background-clip: text;
    background-clip: text;
  }
}

@supports not ((background-clip: text) or (-webkit-background-clip: text)) {
  span.banner {
    --dark-blood: #5c1212;
    letter-spacing: 2px;
    text-shadow: 1px 1px 0px var(--dark-blood), -1px -1px 0px var(--dark-blood), -2px 2px 0px var(--dark-blood);
    font-variation-settings: "opsz"12, "GRAD"0;
  }
}

span.shadow {
  color: transparent;
  background: none;
  text-shadow: 1px 1px #484848;
  -webkit-text-fill-color: transparent;
}


.index span.banner {
  /* fallback */
  font-size: 6rem;
  /* scale with viewport width size */
  font-size: min(10vw, 6rem);
}

span.banner:before,
span.banner:after {
  content: "";
  align-self: center;
  border: 1px outset var(--spoiled-orange);
  width: 2rem;
  width: min(4vw, 2rem);
  height: 0.4rem;
  height: min(1vw, 0.4rem);
  background: var(--blood);
  background: transparent radial-gradient(var(--spoiled-orange) 12%, var(--blood) 22%);
  background-size: 3px 4px;
  font-size: 0;
  font-weight: normal;
  pointer-events: none;
  text-shadow: none;
}

.index span.banner:before,
.index span.banner:after {
  width: 3rem;
  width: min(6vw, 3rem);
  height: 0.8rem;
  height: min(1vw, 0.8rem);
}

  body>header:before {
    content: "click me!";
  }

  details.click {
    display: inline-block;
    height: min-content;
    width: min-content;
    cursor: pointer;
    pointer-events: initial;
    contain: layout;
  }

  details.click>summary {
    height: min-content;
    width: min-content;
    display: inline-grid;
    grid-template-areas: "header-stack";
    gap: 0;
    place-items:center;
  }

  @media (max-width: 1000px) {
    body>header {
      margin-top: 3rem;
    }

    span.banner {
      --cover-width: min(323px,50vw);
    }

    details.click[open] span.click:before {
      grid-column: 1;
      grid-row: 2;
    }

    details.click[open] span.click:after {
      grid-column: 1;
      grid-row: 3;
    }
  }

  @media (min-width: 1000px) {
    details.click[open] span.click:before {
      grid-column: 2 / span 1;
      grid-row: 1;
    }

    details.click[open] span.click:after {
      grid-column: 2 / span 1;
      grid-row: 2;
    }
  }

div.h1.banner {
  font-size: xx-small;
  width: max-content;
  height: min-content;
  position: relative;
  top: -16%;
  place-self: end;
  right: 20%;
}

details.click[open] span.click {
  /* on click, the left grid item is lost and the column gap is lost as well so
   * compensate with the same value used for the column gap */
  margin-left: var(--column-gap);
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  justify-content: center;
  /* Create new stacking context for text pseudoelement (the :before one) */
  position: relative;
}

details.click[open] span.click:after {
  content: attr(title);
  border: none;
  font-size: .7rem;
  text-align: justify;
  align-self: center;
  margin: 0;
  height: min-content;
  width: var(--cover-width);
  background: #e6b725;
  z-index: 998;
  color: var(--fg-color);
  padding: .7rem .6rem .5rem .7rem;
  box-sizing: border-box;
  transition: all .5s var(--hover-delay) var(--transition-fn);
  /* Create new stacking context */
  position: absolute;
  top: 0;
  border: 2px double #d49a1e;
  border-top: 2px outset #ab6a2d;
  -webkit-text-fill-color: black;
  -webkit-background-clip: none;
}

details.click[open] span.click:before {
  border: none;
  background-color: var(--bg-color);
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Dracula-First-Edition-1897.jpg/344px-Dracula-First-Edition-1897.jpg);
  width: var(--cover-width);
  height: var(--cover-height);
  background-size: var(--cover-bg-size);
  image-rendering: optimizespeed;
  background-repeat: no-repeat;
  background-clip: border-box;
  transition: all 0.5s var(--hover-delay) var(--transition-fn), background-image 5s var(--hover-delay) var(--transition-fn);
  background-position-x: -35px;
  background-position-y: -17px;
  border-top-right-radius: 18px;
  border-top-left-radius: 8px;
  display: block;
  color: var(--blood);
  /* Create new stacking context */
  position: absolute;
  top: calc(100% - var(--cover-height));
  z-index: 2;
}

h1:first-child, h2:first-child {
  margin-top: 0;
}

body>header img.logo {
  width: 7rem;
  width: min(15vw, 7rem);
  width: clamp(10vw, 7rem, 15vw);
  max-width: max-content;
  height: auto;
  image-rendering: optimizequality;
}

.index img.logo {
  width: 13rem;
  width: min(30vw, 13rem);
}

body>* {
  grid-row: span 1;
  grid-column: 2 / span 10;
  max-width: 100%;
}

body>div {
  width: 100%;
}

div.screenshots {
  text-align: center;
  height: min-content;
  place-content: center;
  display: grid;
  row-gap: 1rem;
  column-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-auto-rows: min-content;
  grid-auto-flow: dense;
}

.index div.screenshots {
}

div.screenshots>figure {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  height: max-content;
  gap: 0;
  contain: layout paint;
  width:100%;
}

div.screenshots>figure>a {
  grid-row: span 1;
  grid-column: span 1;
  place-self: center;
  width: 100%;
  height: auto;
  contain: layout paint;
}

div.screenshots>figure img {
  width: max-content;
  height: 100%;
  vertical-align: text-top;
  object-fit: cover;
  object-position: top;
  max-width: 100%;
  overflow-y: hidden;
  max-height: 11rem;
  outline: 2px solid #8a752170;
  outline-offset: -2px;
  contain: layout paint;
}

figcaption {
  font-weight: 500;
  font-variation-settings: "opsz"8, "GRAD"0.58, "XTRA"571, "XOPQ"176, "YOPQ"125, "YTLC"533, "YTUC"726, "YTAS"760, "YTDE"-206, "YTFI"881;
  width: max-content;
  margin: 0 auto;
  background: #e6bd1a;
  padding: 5px;
}

figcaption a {
  text-decoration: underline;
}

body>figure.zoom {
  grid-column: 1 / span 12;
  grid-row: 1 / span 2;
  contain: layout paint;
}

figure.zoom, figure.zoom img, a.zoom {
  display: none;
}

figure.zoom:target~* {
  display: none;
}

figure#grid-zoom:target,
figure#full-text-grid-zoom:target,
figure#full-text-table-zoom:target,
figure#database-zoom:target,
figure#d3-zoom:target,
figure#document-zoom:target {
  display: flex;
  flex-direction: column;
  top: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: max-content;
}

figure.zoom:target a.zoom {
  display: initial;
}

figure.zoom:target img {
  min-height: max-content;
  max-width: min-content;
  display: inline-flex;
  object-fit: contain;
  object-position: top;
  height: max-content;
  width: 95vw;
  align-self: center;
}

figure.zoom figcaption {
  display: initial;
  z-index: 2;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 5px 5px;
  position: sticky;
  width: max-content;
  margin: 0 auto;
}

blockquote {
  padding: 1rem 2rem 2rem 2rem;
  box-shadow: -.25em.25em #9b7d00;
  background: #fcf0bf;
  width: 100%;
  font-weight: 500;
  margin: 0;
  word-wrap: break-word;
  hyphens: auto;
  color: black;
}

@media (max-width: 66ch) {
blockquote {
  padding: 0rem 1.5rem 2rem 1.5rem;
  grid-column: span 12;
}
}

blockquote li::marker {
  font-size: 1.2rem;
}

blockquote li:nth-child(1) {
  list-style: square;
  list-style-type: '📇 ';
}

blockquote li:nth-child(2) {
  list-style: square;
  list-style-type: '📚 ';
}

blockquote li:nth-child(3) {
  list-style: square;
  list-style-type: '🏷️ ';
}

blockquote> :last-child {
  margin-bottom: 0;
}

footer {
  text-align: center;
  font-weight: 800;
  font-variation-settings: "opsz"8;
  background: #000;
  padding: .6rem;
  width: 100%;
  margin: 0 auto;
  color: white;
  border: 1px solid black;
  grid-column: span 12;
}

.index footer {
  margin-top: 2rem;
}

footer a {
  color: #999;
  text-decoration: initial;
  text-decoration-color: #999;
}

footer a:visited {
  color: #999;
  text-decoration: initial;
  text-decoration-color: #999;
}

p.def {
  --overhang-width: .5rem;
  border-bottom: 2px solid;
  max-width: max-content;
  padding-bottom: 2px;
  padding-left: var(--overhang-width);
  margin-left: calc(-1*var(--overhang-width));
  padding-right: var(--overhang-width);
  margin-right: calc(-1*var(--overhang-width));
  white-space: break-spaces;
}

div.repo {
  background: #000;
  color: white;
  padding: .4rem .5rem .3rem .5rem;
  width: auto;
  border-radius: .2rem;
  word-wrap: anywhere;
  overflow-x: hidden;
  max-width: max-content;
  letter-spacing: .9px;
}

a.gpl , a.gpl:visited {
  color: white;
  text-decoration: none;
  word-break: break-all;
}
a.repo , a.repo:visited {
  color: white;
  text-decoration: underline;
}

abbr.gpl {
  font-family: "DejaVu Sans Mono", monospace;
  font-weight: 500;
}

code, pre {
  font-family: "DejaVu Sans Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

code.filename {
  /*white-space: nowrap;*/
}

pre {
  padding: 16px;
  font-size: 85%;
  line-height: 1.45;
  background-color: #fffbe7;
  border-radius: 6px;
  width: 100%;
  border: 3px solid #ebe8da;
  color: black;
}
pre code, pre a {
  color: black;
}
pre.sourceCode {
  white-space: pre-line;
  word-break: break-all;
  display: flex;
}
pre.sourceCode code {
  font-size: 80%;
  display: inline-block;
  text-align: left;
}

pre.scrollbox {
  overflow: auto;
  resize: vertical;
  height: 10rem;
  overflow: auto;
  width: 100%;
  background: linear-gradient(#fff 30%, #fff0), linear-gradient(#fff0, #fff 70%) 0 100%, linear-gradient(#0004 10%, #fff 70%), linear-gradient(#fff 10%, #0004 70%) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 80px, 100% 80px, 100% 40px, 100% 40px;
  background-attachment: local, local, scroll, scroll;
  contain: strict;
}

.pl-c1,
.pl-s .pl-v, .dv {
  color: var(--color-syntax-constant);
}

.pl-k, .kw, .cf, .fu{
  color: var(--color-syntax-keyword);
}

.pl-pds,
.pl-s,
.pl-s .pl-pse .pl-s1,
.pl-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sra,
.pl-sr .pl-sre, .ot, .st {
  color: var(--color-syntax-string);
}


article {
  --bg-color: #fff6d0;
  background: var(--bg-color);
  border: 5px solid var(--bg-color);
  padding: clamp(1vmin, 2rem, 3vmin);
  border-radius: 3px;
  width: 100ch;
  place-self: center;
  text-align: justify;
  hyphens: auto;
  white-space: initial;
  grid-column: 1 / span 12;
}


aside {
  background: #80808021;
  padding: .005rem 1rem;
  border-radius: 5px;
}

aside ul {
  margin: revert;
}

address {
  display: inline;
}

address a{
  text-decoration: none;
}


article>header{
  margin-block-start: 1em;
margin-block-end: 1em;
}
