<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
        <title>{% block title %}bibliothecula{% endblock %}</title>
        {% block style %}{% endblock %}
    </head>
    <body>
        {% spaceless %}
            <header>
                <div class="header-left">
                    <div class="logo">
                        <h1>bibliothecula</h1>
                        <div class="logo-image"></div>
                    </div>
                    <hr class="horizontal" />
                    <nav>
                        <ul class="menu">
                            {% block menu %}
                                <li><a href="{% url 'view_collection' %}">collection</a></li>
                                <li><a href="{% url 'import_documents' %}">mass import files</a></li>
                                <li><a href="{% url 'database_overview' %}">database</a></li>
                                <li><a href="{% url 'view_tag' %}">visualise tags</a></li>
                            {% endblock %}
                        </ul>
                    </nav>
                    <hr class="horizontal" />
                    <nav aria-label="Breadcrumb" class="breadcrumb">
                        {% block breadcrumbs %}
                            <ul>
                                <li><a href="{% url 'view_collection' %}">collection</a></li>
                                {% block crumbs %}
                                    {% if title %}<li><span aria-current="page">{{ title }}</span></li>{% endif %}
                                {% endblock %}
                            </ul>
                        {% endblock %}
                    </nav>
                </div>
                <nav>
                    <details id="add">
                        <summary ><span class="add-label add-hidden">new document</span><span class="add-hidden"> ➕&#xFE0E;</span><span class="add-show">hide</span></summary>
                        <form method="POST" action="/add/document/" id="add_form">
                            {% csrf_token %}
                            {% for field in add_document_form %}
                                {{ field.errors }}
                                {{ field.label_tag }}
                                {{ field }}
                            {% endfor %}
                            <input type="submit" value="create">
                        </form>
                    </details>
                </nav>
            </header>
        {% endspaceless %}
        {% if messages %}
            <ul class="messagelist">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <main>
            {% block content %}<!-- default content text (typically empty) -->{% endblock %}
        </main>
        <footer></footer>

        {% spaceless %}
            <svg class="global-hidden" aria-hidden="true" id="missingthumb" version="1.1" viewBox="0 0 329.78 406.01">
                <!--
<svg aria-hidden="true" id="missingthumb" version="1.1" viewBox="0 0 329.78 406.01" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:xlink="http://www.w3.org/1999/xlink">
<metadata>
<rdf:RDF>
<cc:Work rdf:about="">
<dc:format>image/svg+xml</dc:format>
<dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
<dc:title/>
</cc:Work>
</rdf:RDF>
</metadata>
                -->
                <defs>
                    <linearGradient id="a" x1="660.07" x2="658.46" y1="6.5996" y2="108.78" gradientTransform="translate(-45.255 .35355)" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#c2c2c2" offset="0"/>
                        <stop stop-color="#9f9f9f" offset="1"/>
                    </linearGradient>
                </defs>
                <g transform="translate(-399.13 -122.79)">
                    <rect x="399.13" y="122.79" width="329.78" height="406.01" ry="7.0136" fill="#eee"/>
                    <g transform="translate(43.778 191.04)">
                        <rect transform="rotate(-16.343)" x="398.76" y="178.75" width="82.49" height="90.47" ry="8.397" fill="#9f9f9f"/>
                        <g transform="rotate(16.321 538.14 -184.9)" stroke="#fff" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="547.19" y="1.6498" width="107.83" height="115.97" ry="4.5962" fill="url(#a)" stroke-width="5.398"/>
                            <g transform="matrix(.17265 0 0 .17265 512.49 -6.3296)" fill-rule="evenodd" shape-rendering="auto" stroke-width="13.071">
                                <rect x="270" y="107.36" width="491.11" height="450" color="#000000" color-rendering="auto" fill="#ccc" image-rendering="auto" style="isolation:auto;mix-blend-mode:normal"/>
                                <rect x="270" y="107.36" width="491.11" height="210" color="#000000" color-rendering="auto" fill="#fff" image-rendering="auto" style="isolation:auto;mix-blend-mode:normal"/>
                                <path d="m300 317.36 38.461-53.538 60.531-45.161 15.883 18.574 13.613-38.684 8.2013-2.9819 13.311-28.209 180 180" color="#000000" color-rendering="auto" fill="#ccc" image-rendering="auto" style="isolation:auto;mix-blend-mode:normal;paint-order:stroke"/>
                                <path transform="translate(270 107.36)" d="m180 60c4.0931 16.475 7.7122 33.067 10.852 49.75 2.3826 12.661 4.4886 25.374 6.3164 38.127l-22.064-7.1602-46.111-29.416 5.3242 46.426-1.6152 24.787 10.053 30.377 73.186-11.756 84.061-21.135-47.801-77.434-9.6992 14.934-27.125-22.125z" color="#000000" color-rendering="auto" fill="#b3b3b3" image-rendering="auto" style="isolation:auto;mix-blend-mode:normal;paint-order:stroke"/>
                                <path d="m420 347.36 81.899-74.43 18.506-9.6801 23.651-44.189 25.944-21.701 180 180" color="#000000" color-rendering="auto" fill="#ccc" image-rendering="auto" style="isolation:auto;mix-blend-mode:normal;paint-order:stroke"/>
                                <path d="m570 197.36 35.939 80.913v30.11 30.11l22.459 19.467c6.5245-6.4503 14.149-11.785 22.444-15.705 14.824-7.0045 31.338-9.3596 47.171-13.622 6.4278-1.7304 12.907-3.8542 18.213-7.8728 1.3517-1.0236 2.6159-2.1628 3.7742-3.4011h-30l-40.521-40.55-29.856-48.92-10.253 8.8389z" color="#000000" color-rendering="auto" fill="#b3b3b3" image-rendering="auto" style="isolation:auto;mix-blend-mode:normal;paint-order:stroke"/>
                                <path d="m420 557.36c-0.41699-9.6009-8.8176-17.609 17.125-30.668 31.832-16.024 125.9-35.888 152.15-59.984 19.427-17.827-70.415-37.669-55.019-59.073 6.981-9.7053 59.037-19.969 82.146-30.274 21.906-9.768 15.141-19.803 31.405-29.975 15.709-9.8256 68.35-19.774 72.189-30.025-10.414 10.522-68.834 20.403-90 30-22.338 10.128-21.469 19.93-49.431 29.484-30.124 10.292-89.142 20.553-102.71 30.516-28.413 20.869 46.863 42.6 16.202 60-41.52 23.563-149.34 43.294-194.06 60-30.904 11.544-28.408 17.748-30 30" color="#000000" color-rendering="auto" fill="#fff" image-rendering="auto" style="isolation:auto;mix-blend-mode:normal;paint-order:stroke"/>
                            </g>
                        </g>
                    </g>
                    <text x="562.00677" y="412.12527" fill="#767676" font-family="sans-serif" font-size="32px" font-weight="bold" text-anchor="middle" style="line-height:1.25" xml:space="preserve"><tspan x="562.00677" y="412.12527">NO IMAGE</tspan><tspan x="562.00677" y="452.12527">AVAILABLE</tspan></text>
                </g>
            </svg>
            <svg class="global-hidden" id="header-link-svg" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg>
        {% endspaceless %}
    </body>
</html>
